<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <% if comments_posts_related_to_user %>
        <%= "#{current_user.name} has not submitted any posts yet." %>
    <% else %>     
        <h2>Posts</h2>
        <%= render @user.posts %>

        <h2>Comments</h2>
        <%= render @user.comments %>
    <% end %>
</div>
<div class="row">
    <h4><%= "#{current_user.name} Bloccit Stats"%></h4><br />
    <%= "Number of posts = #{current_user.posts.count}" %><br />
    <%= "Number of favorited posts = #{current_user.favorites.count}" %>
</div>